/* 
 *   font-family: 'PT Sans Narrow', sans-serif;         -- Main Text
 *   font-family: 'VT323', monospace;                   -- Title (in Header)
 *   font-family: 'Roboto', sans-serif;                 -- Navbar, Headers
 *   font-family: 'Open Sans Condensed', sans-serif;    -- Footer, Headers
 */

/* --- Monitors and Laptop Screens --- */

header {   
    background-color: #7D5792;
    overflow: hidden;  
}

header h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 42px;
    color: #FFFFFF;
}

header h1 a:link, header h1 a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

#mainNav {   
    background-color: #5E3375;
    text-align: center; 
    overflow: hidden;  
}

#mainNav ul {   
    list-style-type: none;  
    overflow: hidden; 
    margin: 0; 
    padding: 0; 
    display: inline-block; 
    vertical-align: top; 
}

#mainNav ul li {   
    display: inline;
    /* 
     * If you're using VS Code, it may complain that this property is ignored due
     * to the use of 'display: inline' seen above. It is LYING. Removing the 'float'
     * property changes the layout of the navigation bar in the header from flowing
     * left to right, to flowing from top to bottom.
     */  
    float: left; 
}

#mainNav ul li a {   
    display: block;  
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;  
    background-color: #5E3375;  
    color: #FFFFFF;
    font-style: none;
}

#mainNav ul li a:link, nav ul li a:visited  {   
    text-decoration: none;  
}

#mainNav ul li a:hover {
    background-color: #987DA7;
}

footer {
    position: static;
    background-color: #7D5792;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer article {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer article a:link, footer article a:visited {   
    text-decoration: none;  
    color: #360452;  
}

footer article a:hover {    
    text-decoration: underline;   
}

body {
    background-color: #FFFFFF;
}

main {
    background-color: #987DA7;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #5E3375;
    font-size: 22px;
    text-align: center;
}

#sectionOne, #sectionTwo {
    overflow: hidden;
}

#sectionOneText, #sectionTwoText {
    overflow: hidden;
    margin: 25px;
    padding: 5px;
    width: 50%;
    height: 240px;
    background-color: #E2DBE5;
    border-radius: 10px;
}

#sectionOneText {
    float: left;
}

#sectionTwoText {
    float: right;
}

#sectionOneImage, #sectionTwoImage {
    overflow: hidden;
    margin: 25px;
    border-radius: 10px;
    width: 500px;
    height: 250px;
}

#sectionOneImage img, #sectionTwoImage img {
    border-radius: 10px;
}

#sectionOneImage {
    padding-left: 5px;
    float: right;
}

#sectionTwoImage {
    padding-right: 5px;
    float: left;
}

#sectionOneText p, #sectionTwoText p {
    font-family:  'PT Sans Narrow', sans-serif;
    color: #360452; 
}

#carousel {
    position: relative;
    overflow: hidden;
}

#carousel button {
    position: absolute;
    height: 30px;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    top: calc(50% - 30px);
}

#backButton {
    left: 30px;
}

#forwardButton {
    right: 30px;
}

#imageContainer {
    max-width: 450px;
    position: relative;
    text-align: center;
    height: 320px;
    margin-left: 150px;
    overflow: hidden;
    float: left;
}

#imageContainer div {
    display: none;
}

#imageContainer img {
    width: 100%;
    height: 250px;
    border-radius: 2%;
    margin-bottom: 35px;
    margin-top: 35px;
}

#textContainer {
    max-width: 450px;
    position: relative;
    text-align: center;
    height: 320px;
    margin-right: 150px;
    overflow: hidden;
    float: right;
}

#textContainer div {
    display: none;
    width: 450px;
    height: 250px;
    border-radius: 2%;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #E2DBE5;
}

#textContainer div p {
    font-family: 'PT Sans Narrow', sans-serif;
}

#members table {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px auto;
}

td {
    width: 182px;
    min-width: 182px;
    height: 182px;
    min-height: 182px;
    border: 0;
    background-repeat: no-repeat;
}

#members table tr td div {
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    text-align: center;
}

#members table tr td div p {
    top: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #FFFFFF;
}

#breakHeader {
    background-color: #BBAAC4;
    text-align: center;
    overflow: hidden;
    height: 54px;
}

#breakHeader h2 {
    margin: 0px auto;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

#charlie:hover #charlieCap      {visibility: visible;}
#david:hover #davidCap          {visibility: visible;}
#jonathan:hover #jonathanCap    {visibility: visible;}
#fille:hover #filleCap          {visibility: visible;}
#alex:hover #alexCap            {visibility: visible;}
#kaffe:hover #kaffeCap          {visibility: visible;}
#vanil:hover #vanilCap          {visibility: visible;}
#perdy:hover #perdyCap          {visibility: visible;}
#gregg:hover #greggCap          {visibility: visible;}
#hector:hover #hectorCap        {visibility: visible;}
#rob:hover #robCap              {visibility: visible;}
#ollie:hover #ollieCap          {visibility: visible;}
#morten:hover #mortenCap        {visibility: visible;}
#kip:hover #kipCap              {visibility: visible;}
#joe:hover #joeCap              {visibility: visible;}

#charlie    {background-image: url(../images/charlie.jpeg);}
#david      {background-image: url(../images/david.jpeg);}
#jonathan   {background-image: url(../images/jonathan.jpeg);}
#fille      {background-image: url(../images/fille.jpeg);}
#alex       {background-image: url(../images/alex.jpeg);}
#kaffe      {background-image: url(../images/kaffe.jpeg);}
#vanil      {background-image: url(../images/vanil.jpeg);}
#perdy      {background-image: url(../images/perdy.jpeg);}
#gregg      {background-image: url(../images/gregg.jpeg);}
#hector     {background-image: url(../images/hector.jpeg);}
#rob        {background-image: url(../images/rob.jpeg);}
#ollie      {background-image: url(../images/ollie.jpeg);}
#morten     {background-image: url(../images/morten.jpeg);}
#kip        {background-image: url(../images/kip.jpeg);}
#joe        {background-image: url(../images/joe.jpeg);}

#adminContainer {
    background-color: #382941;
    overflow: hidden;
}

#JSONData {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
    vertical-align: middle;
    top:10px;
}

#JSONData tr {
    align-content: center;
}

#JSONData tr td {
    padding: 0px auto;
    vertical-align: middle;
}

#JSONData tr td div {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#JSONData tr td div p {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

#buttonContainer {
    width: 150px;
    float: left;
}

#adminContainer button {
    height: 40px;
    width: 120px;
    color: #FFFFFF;
    display: block;
    background-color: #30193D;
    margin: 10px;
    overflow: hidden;
}

#clips, #channels {
    overflow: hidden;
}

#clipContainer1, #davidChannel {
    float: left;
    overflow: hidden;
}

#clipContainer2, #charlieChannel {
    float: right;
    overflow: hidden;
}

#clipsText, #channelsText, #adminText, #membersText {
    background-color: #E2DBE5;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family:  'PT Sans Narrow', sans-serif;
}

@media screen and (max-width: 1250px) {
    #sectionOneText, #sectionTwoText {
        width: 500px;
        height: 300px;
        float: none;
    }

    #sectionOneImage, #sectionTwoImage {
        float: none;
        max-width: 500px;
        max-height: 250px;
        padding-right: 0px;
        padding-left: 5px;
    }

    #carousel {
        max-height: auto;
    }

    #clipContainer1, #clipContainer2, #davidChannel, #charlieChannel {
        float: none;
    }

    iframe {
        max-width: 100%;
    }
}

@media screen and (max-width: 1220px) {
    #imageContainer, #textContainer {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    #imageContainer {
        margin-top: 80px;
        padding-top: 0px;
    }

    #carousel button {
        top: 5%;
        
    }
}

@media screen and (max-width: 700px) {
    #mainNav {
        display: table-caption;
        width: 100%;
    }

    #mainNav li {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    #sectionOneText, #sectionTwoText {
        width: 80%;
        height: 360px;
    }

    #sectionOneImage, #sectionTwoImage {
        width: 80%;
    }
}

@media screen and (max-width: 470px) {
    #backButton {
        left: 0;
    }

    #forwardButton {
        right: 0;
    }

    #imageContainer, #textContainer, #textContainer div {
        width: 95%;
    }

}